body {
    font-family: 'Arial', sans-serif;
    background-color: white ;/* Example background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.container {
    

    padding: 40px;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 20px;
    background-color: #007BFF; /* Button color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3; /* Hover color */
}

.social-login {
    margin: 20px 0;
}

.social-login p {
    margin: 10px 0;
}

.social-login button {
    background-color: #3b5998; /* Facebook color */
}

.social-login .google {
    background-color:darkgrey; /* Google color */
    color: black;
}

.social-login button:hover {
    opacity: 0.8; /* Slight opacity on hover */
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}